.des {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.des__header {
  width: fit-content;
  height: auto;
  margin: 40px 20% 0 20%;
}
.des__header img {
  width: 100%;
  height: auto;
}

.des__title {
  width: fit-content;
  height: auto;
  margin: 0 24px;
}

.des__title p, 
.des__title-mb p{
  width: fit-content;
  height: auto;
  z-index: 2;
  position: relative;
}



.des__title p:nth-child(1) {
  width: 100%;
  height: 100%;
  font-family: "iCiel Brandon Text";
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 84px;
  color: #395c70;
}

.des__line {
  width: fit-content;
  height: auto
}

.des__content{
  width: fit-content;
  height: auto;
  margin: 24px 24px 80px 24px;
}

.des__content p {
  font-family: "UTM Aptima";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #395c70;
}

/* product image */
.product__img {
  width: 100%;
  height: auto;
  filter: drop-shadow(0px 2px 40px rgba(0, 0, 0, 0.1));
}

.product__img img {
  width: 100%;
  height: 100%;
}
