.product__grid {
  width: fit-content;
  height: auto;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   position: relative;
   padding-bottom: 190px;
}


.product__item {
  background: url("../img/Rectangle\ 115.png");
  background-repeat: no-repeat;
  width: 30%;
  height: 482px;
  position: relative;
  overflow: hidden;
  margin: 15px 16px;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;
}

.item__shadow{
  width: fit-content;
  height: fit-content;
}

.item__text {
  width: fit-content;
  font-family: "iCiel Brandon Text";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #395c70;
  text-align: center;
  margin: 60px 0 71px 0;
}

.product__title {
  width: fit-content;
  height: auto;
}
.item__img img {
  z-index: 1;
}

.item__shadow {
  rotate: 180deg;
  position: absolute;
  bottom: -6%;
  opacity: 0.2;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -1;
}

.product__btn{
  width: fit-content;
  height: auto;
}

.btn {
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  font-family: "Phetsarath";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  position: absolute;
  left: 50%;
  top: 87%;
  transform: translateX(-75%);
  margin-top: 40px;
}
.btn01 {
  background-color: #0e0e0d;
  color: #ffffff;
}
.btn02 {
 margin-left: 40px;
  background: #ffffff;
  border: 1px solid rgba(200, 200, 200, 0.6);
}
