.slide {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.slide__img {
  width: auto;
  height: auto;
}

.slide__bgr {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
  position: relative;
}

.slide__bgr--text {
  position: absolute;
  width: fit-content;
  height: auto;
  left: 75%;
  top: 30%;
  font-family: "iCiel Brandon Text";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 120px;
  text-align: center;
  color: #395c70;
}
.slide__menus{
  height: auto;
  display: flex;
  justify-content: center;
}
.slide__menu01 {
  display: flex;
  justify-content: center;
  align-items: center;
   position: absolute;
  top: 0;
  /* left: 50%;
  transform: translateX(-50%); */ 
  
}
.slide__menu01__item {
  width: fit-content;
  height: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.slide__menu01--logo {
  margin: 0 70px;
}

.slide__menu--icon-flag {
  width: 24px;
  height: 24px;
  margin: 0 8px 0 10px;
}

.slide__menu--icon-dow {
  width: 13px;
  height: 6px;
  position: relative;
  top: 1px;
  margin-left: 2px;
}

/*  */
.slide__menu02 {
  display: flex;
  position: absolute;
  top: 64px;
  left: 0.5%;
}

.slide__menu02--item {
  margin: 0 9px;
  color: #395c70;
  font-family: "UTM Aptima";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.slide__menu--mb
{
    display: none;
}


