

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
width: 100%;
height: 100vh;
}


a, p{
    text-decoration: none;
    font-family: 'UTM Aptima';
    color: #0E0E0D;
    font-style: normal;
}

.container{
    max-width: 100%;
}

.mg-lr-16{
    margin: 0 16px;
}

