@media (min-width: 768px) {
  .des__title p img {
    width: 35%;
    z-index: -1;
    position: absolute;
    left: -5%;
    top: -5%;
  }
  .des__title-mb {
    display: none;
  }

  /* product image */
  .product__img-mb {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .des__header img {
    width: 100%;
    height: auto;
  }
  .des__title-mb {
    display: block;
    width: 100%;
    height: auto;
    font-family: "iCiel Brandon Text";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 45px;
    text-align: center;
    color: #395c70;
  }
  .des__title p:nth-child(1) {
    display: none;
  }

  .des__title p img {
    z-index: -1;
    position: absolute;
    left: -6%;
    top: -16%;
}

  .des__content {
    width: fit-content !important;
    height: auto !important;
  }
  .des__content p {
    text-align: center;
    font-family: "UTM Aptima";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #395c70;
  }

  /* product image */
  .product__img img:first-child {
    display: none;
  }

  .product__img-mb {
    width: 100%;
    height: 100%;
    display: block;
  }
}
