
/* slide header */

@media (min-width: 768px){
    .bgr__mb,
    .slide__menu--mb, 
    .slide__menu01--logo-mb{
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .slide__img {
        max-width: 767px;
        height: auto;
      }
      
      .bgr__mb{
        width: 100%;
        height: auto;
        background-repeat: no-repeat;
      }

    .slide__menu01__item,
    .slide__bgr--text,
    .slide__menu--icon-flag,
    .slide__menu--icon-dow,
    .slide__menu01-vn,
    .slide__menu02,
    .slide__bgr,
    .slide__menu01--logo{
        display: none;
    }

    .slide__menu01--logo-mb{
        width: 254x;
        height: 118px;
        position: relative;
        top: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  
    .slide__menu01--icon-search{
        display: block;
        width: fit-content;
        height: auto;
        position: absolute;
        right: -26%;
        top: 44%;
        margin-right: 30px;
    }
    .slide__menu--mb{
        display: block;
    }
    

    .slide__menu--mb{
        position: absolute;
        top: 50.5px;
        left: 30.5px;
        width: 21px;
        height: 15px;
    }
}