@media (min-width: 768px) {
  .product__title {
    margin: 120px 0 60px 0;
    text-align: center;
    z-index: 1;
  }

  .product__title p {
    font-family: "iCiel Brandon Text";
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 84px;
    color: #395c70;
  }

  .product__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
  }

  /*  */
  .ellipse {
    z-index: 1;
    width: auto;
    height: auto;
    /* position: relative; */
  }

  .product__ellipse img {
    width: 100%;
    height: 100%;
    background: radial-gradient(
      50% 50% at 50% 50%,
      #c8e7f9 0%,
      rgba(181, 218, 240, 0) 100%
    );
    opacity: 0.63;
  }

  .product__ellipse .ellipse:first-child {
    position: absolute;
    top: 6%;
    left: 8%;
  }
  .product__ellipse .ellipse:nth-child(2){
    position: absolute;
    top: -6%;
    right: -6%;
  }
  .product__ellipse .ellipse:last-child {
    position: absolute;
    top: 64%;
    right: 8%;
  }
}

@media only screen and (max-width: 767px) {
 
  .product__items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product__item {
    width: calc(100% - 48px);
    height: 464px;
  }
  .product__title {
    margin: 60px 0 30px 0;
  }

  .product__title p {
    font-family: "iCiel Brandon Text";
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 45px;
    text-align: center;
    color: #395c70;
  }
  .product__item {
    margin: 12px 0;
  }
  .btn {
    position: absolute;
    top: 95%;
  }

  .btn02 {
    margin-left: 40px;
  }

  .product__ellipse {
    display: none;
  }

  .shadow__mb {
    /* position: absolute;
    left: 34%; */
    margin: 0 auto;
  }


}
